# {{ ansible_managed }}

description "Airflow scheduler daemon"

start on started networking
stop on (deconfiguring-networking or runlevel [016])

respawn
respawn limit {{ airflow_scheduler_respawn_limit_count }} {{ airflow_scheduler_respawn_limit_timeperiod }}

chdir {{ airflow_config.core.airflow_home }}
setuid {{ airflow_user_name }}
setgid {{ airflow_user_group }}

# Define environment variables
env AIRFLOW_HOME="{{ airflow_config.core.airflow_home }}"
env AIRFLOW_CONFIG="${AIRFLOW_HOME}/airflow.cfg"
env AIRFLOW_BINARY_PATH="{{ airflow_virtualenv ~ '/bin' }}"

export AIRFLOW_CONFIG
export AIRFLOW_HOME
export AIRFLOW_BINARY_PATH

script
    export PATH="${AIRFLOW_BINARY_PATH}:${PATH}"
    exec "${AIRFLOW_BINARY_PATH}/"airflow scheduler
end script
