# {{ ansible_managed }}

# General
AIRFLOW_HOME="{{ airflow_config.core.airflow_home }}"
AIRFLOW_CONFIG="{{ airflow_config.core.airflow_home }}/airflow.cfg"
AIRFLOW_BINARY_PATH="{{ airflow_virtualenv ~ '/bin' }}"

# Webserver specific
{% if airflow_config.webserver.debug %}
AIRFLOW_WEBSERVER_DEBUG="--debug"
{% endif %}
AIRFLOW_WEBSERVER_HOSTNAME="{{ airflow_config.webserver.hostname }}"
AIRFLOW_WEBSERVER_LOG_FILE="{{ airflow_config.webserver.log_file }}"
AIRFLOW_WEBSERVER_PID_FILE="{{ airflow_config.webserver.pid }}"
AIRFLOW_WEBSERVER_PORT="{{ airflow_config.webserver.web_server_port }}"
AIRFLOW_WEBSERVER_WORKER_CLASS="{{ airflow_config.webserver.worker_class }}"
AIRFLOW_WEBSERVER_WORKER_TIMEOUT="{{ airflow_config.webserver.worker_timeout }}"
AIRFLOW_WEBSERVER_WORKERS="{{ airflow_config.webserver.workers }}"

# Scheduler specific
AIRFLOW_SCHEDULER_LOG_FILE="{{ airflow_config.scheduler.log_file }}"
AIRFLOW_SCHEDULER_PID_FILE="{{ airflow_config.scheduler.pid }}"
AIRFLOW_SCHEDULER_RUNS="{{ airflow_config.scheduler.num_runs }}"
