# {{ ansible_managed }}

[core]
# The home folder for airflow
airflow_home = {{ airflow_config.core.home }}

# The folder where your airflow pipelines live
dags_folder = {{ airflow_config.core.dags_folder }}

# The folder where airflow should store its log files. This location
base_log_folder = {{ airflow_config.core.base_log_folder }}

# Airflow can remote logs storage
remote_base_log_folder = {{ airflow_config.core.remote_base_log_folder }}
remote_log_conn_id = {{ airflow_config.core.remote_log_conn_id }}
encrypt_s3_logs = {{ airflow_config.core.encrypt_s3_logs }}

# The executor class that airflow should use. Choices include
# SequentialExecutor, LocalExecutor, CeleryExecutor
executor = {{ airflow_config.core.executor }}

# The SqlAlchemy connection string to the metadata database.
sql_alchemy_conn = {{ airflow_config.core.sql_alchemy_conn }}

# The SqlAlchemy pool size is the maximum number of database connections
# in the pool.
sql_alchemy_pool_size = {{ airflow_config.core.sql_alchemy_pool_size }}

# The SqlAlchemy pool recycle is the number of seconds a connection
# can be idle in the pool before it is invalidated. This config does
# not apply to sqlite.
sql_alchemy_pool_recycle = {{ airflow_config.core.sql_alchemy_pool_recycle }}

# The amount of parallelism as a setting to the executor. This defines
# the max number of task instances that should run simultaneously
# on this airflow installation
parallelism = {{ airflow_config.core.parallelism }}

# The number of task instances allowed to run concurrently by the scheduler
dag_concurrency = {{ airflow_config.core.dag_concurrency }}

# Are DAGs paused by default at creation
dags_are_paused_at_creation = {{ airflow_config.core.dags_are_paused_at_creation }}

# When not using pools, tasks are run in the "default pool",
# whose size is guided by this config element
non_pooled_task_slot_count = {{ airflow_config.core.non_pooled_task_slot_count }}

# The maximum number of active DAG runs per DAG
max_active_runs_per_dag = {{ airflow_config.core.max_active_runs_per_dag }}

# Whether to load the examples that ship with Airflow.
load_examples = {{ airflow_config.core.load_examples }}

# Where your Airflow plugins are stored
plugins_folder = {{ airflow_config.core.plugins_folder }}

# Secret key to save connection passwords in the db
fernet_key = {{ airflow_config.core.fernet_key }}

# Whether to disable pickling dags
donot_pickle = {{ airflow_config.core.donot_pickle }}

# How long before timing out a python file import while filling the DagBag
dagbag_import_timeout = {{ airflow_config.core.dagbag_import_timeout }}


[operators]
# The default owner assigned to each new operator, unless
# provided explicitly or passed via `default_args`
default_owner = {{ airflow_config.operators.default_owner }}


[webserver]
# The base url of your website as airflow cannot guess what domain or
# cname you are using. This is used in automated emails that
# airflow sends to point links to the right web server
base_url = {{ airflow_config.webserver.base_url }}

# The ip specified when starting the web server
web_server_host = {{ airflow_config.webserver.web_server_host }}

# The port on which to run the web server
web_server_port = {{ airflow_config.webserver.web_server_port }}

# The time the gunicorn webserver waits before timing out on a worker
web_server_worker_timeout = {{ airflow_config.webserver.web_server_worker_timeout }}

# Secret key used to run your flask app
secret_key = {{ airflow_config.webserver.secret_key }}

# Number of workers to run the Gunicorn web server
workers = {{ airflow_config.webserver.workers }}

# The worker class gunicorn should use. Choices include
# sync (default), eventlet, gevent
worker_class = {{ airflow_config.webserver.worker_class }}

# Expose the configuration file in the web server
expose_config = {{ airflow_config.webserver.expose_config }}

# Set to true to turn on authentication:
# http://pythonhosted.org/airflow/installation.html#web-authentication
authenticate = {{ airflow_config.webserver.authenticate }}

# Filter the list of dags by owner name (requires authentication to be enabled)
filter_by_owner = {{ airflow_config.webserver.filter_by_owner }}

[email]
email_backend = {{ airflow_config.email.email_backend }}

[smtp]
# If you want airflow to send emails on retries, failure, and you want to use
# the airflow.utils.email.send_email_smtp function, you have to configure an smtp
# server here
smtp_host = {{ airflow_config.smtp.smtp_host }}
smtp_starttls = {{ airflow_config.smtp.smtp_starttls }}
smtp_ssl = {{ airflow_config.smtp.smtp_ssl }}
smtp_user = {{ airflow_config.smtp.smtp_user }}
smtp_port = {{ airflow_config.smtp.smtp_port }}
smtp_password = {{ airflow_config.smtp.smtp_password }}
smtp_mail_from = {{ airflow_config.smtp.smtp_mail_from }}

[celery]
# This section only applies if you are using the CeleryExecutor in
# [core] section above

# The app name that will be used by celery
celery_app_name = {{ airflow_config.celery.celery_app_name }}

# The concurrency that will be used when starting workers with the
# "airflow worker" command. This defines the number of task instances that
# a worker will take, so size up your workers based on the resources on
# your worker box and the nature of your tasks
celeryd_concurrency = {{ airflow_config.celery.celeryd_concurrency }}

# When you start an airflow worker, airflow starts a tiny web server
# subprocess to serve the workers local log files to the airflow main
# web server, who then builds pages and sends them to users. This defines
# the port on which the logs are served. It needs to be unused, and open
# visible from the main web server to connect into the workers.
worker_log_server_port = {{ airflow_config.celery.worker_log_server_port }}

# The Celery broker URL. Celery supports RabbitMQ, Redis and experimentally
# a sqlalchemy database. Refer to the Celery documentation for more
# information.
broker_url = {{ airflow_config.celery.broker_url }}

# Another key Celery setting
celery_result_backend = {{ airflow_config.celery.celery_result_backend }}

# Celery Flower is a sweet UI for Celery. Airflow has a shortcut to start
# it `airflow flower`. This defines the port that Celery Flower runs on
flower_port = {{ airflow_config.celery.flower_port }}

# Default queue that tasks get assigned to and that worker listen on.
default_queue = {{ airflow_config.celery.default_queue }}

[scheduler]
# Task instances listen for external kill signal (when you clear tasks
# from the CLI or the UI), this defines the frequency at which they should
# listen (in seconds).
job_heartbeat_sec = {{ airflow_config.scheduler.job_heartbeat_sec }}

# The scheduler constantly tries to trigger new tasks (look at the
# scheduler section in the docs for more information). This defines
# how often the scheduler should run (in seconds).
scheduler_heartbeat_sec = {{ airflow_config.scheduler.scheduler_heartbeat_sec }}

# Statsd (https://github.com/etsy/statsd) integration settings
statsd_on = {{ airflow_config.scheduler.statsd_on }}
statsd_host = {{ airflow_config.scheduler.statsd_host }}
statsd_port = {{ airflow_config.scheduler.statsd_port }}
statsd_prefix = {{ airflow_config.scheduler.statsd_prefix }}

# The scheduler can run multiple threads in parallel to schedule dags.
# This defines how many threads will run. However airflow will never
# use more threads than the amount of cpu cores available.
max_threads = {{ airflow_config.scheduler.max_threads }}

[mesos]
# Mesos master address which MesosExecutor will connect to.
master = {{ airflow_config.mesos.master }}

# The framework name which Airflow scheduler will register itself as on mesos
framework_name = {{ airflow_config.mesos.framework_name }}

# Number of cpu cores required for running one task instance using
# 'airflow run <dag_id> <task_id> <execution_date> --local -p <pickle_id>'
# command on a mesos slave
task_cpu = {{ airflow_config.mesos.task_cpu }}

# Memory in MB required for running one task instance using
# 'airflow run <dag_id> <task_id> <execution_date> --local -p <pickle_id>'
# command on a mesos slave
task_memory = {{ airflow_config.mesos.task_memory }}

# Enable framework checkpointing for mesos
# See http://mesos.apache.org/documentation/latest/slave-recovery/
checkpoint = {{ airflow_config.mesos.checkpoint }}

# Failover timeout in milliseconds.
# When checkpointing is enabled and this option is set, Mesos waits
# until the configured timeout for
# the MesosExecutor framework to re-register after a failover. Mesos
# shuts down running tasks if the
# MesosExecutor framework fails to re-register within this timeframe.
failover_timeout = {{ airflow_config.mesos.failover_timeout }}

# Enable framework authentication for mesos
# See http://mesos.apache.org/documentation/latest/configuration/
authenticate = {{ airflow_config.mesos.authenticate }}

# Mesos credentials, if authentication is enabled
default_principal = {{ airflow_config.mesos.default_principal }}
default_secret = {{ airflow_config.mesos.default_secret }}
